/* General */
* {
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-color);
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  
}



:root {
  --primary-color: white;
  --secondary-color: #212529;
  --card-background-color: #eee;
}

.dark-theme {
  --primary-color: #212529;
  --secondary-color: white;
  --card-background-color: 	#4f5b66;

}

::selection {
  background: #5cc8db;
}

body {
  background-color: var(--primary-color);
  transition: background-color 0.3s linear;
}

footer {
  padding-bottom: 50px;
}

a:link {
  color: var(--secondary-color);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  cursor:pointer;
 }

.navbar-toggler {
  border: none;
}

svg {
  width: 1.3rem;
  fill: var(--secondary-color);
  padding-bottom: 4px;
}

.svg-link:hover {
  fill: #0d6efd;
}

header {
  border-bottom: 1.75px solid var(--secondary-color);
  font-weight: 700;
  font-size: 1.1rem;
}

.fixed-header {
  background-color: var(--primary-color);
  transition: background-color 0.25s linear;
}

#navigation {
  position: sticky;
}

#nav-name {
  font-size: 1.5rem;
}

#nav-name:visited {
  color: var(--secondary-color);
}

#nav-name:hover,
#nav-name:active {
  color: #0d6efd;
}

.nav-item {
  padding: 0px 20px;
}

.navbar {
  padding: 10px 10%;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-brand {
  color: var(--secondary-color);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--secondary-color);
}
.navbar-light .navbar-nav .nav-link:hover,
a:hover {
  color: #0d6efd;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-toggler-icon,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar .navbar-collapse .nav-item {
  padding-top: 10px;
  border-bottom: 1px var(--secondary-color);
}

.dropdown-divider {
  border-color: var(--secondary-color);
}

iframe {
  width: 50%;
}

html,
body {
  margin: 0;
  height: 100%;
}

h1 {
  font-size: 2.75rem;
  font-weight: 600;
}


#introduction {
  max-width: 600px;
  padding-bottom: 50px;
  margin-right: 5%;
}

#main-container {
  justify-content: center;
}

.container {
  margin-top: 200px;
  margin-bottom: 300px;
}

#profile-picture {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#canada-leaf {
  fill: #d80621;
}

.description {
  margin-top: 20px;
  font-size: 1.3rem;
}

#email {
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 2px;
  font-weight: 600;
}

#email {
  box-shadow: inset 0 0 0 0 var(--secondary-color);
  color: var(--secondary-color);
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
 /* transition: color 0.21s ease-in-out, box-shadow 0.3s ease-in-out;*/
}
#email:hover {
  box-shadow: inset 300px 0 0 0 var(--secondary-color);
  color: var(--primary-color);
}

#featured-work {
  font-weight: 600;
  margin-bottom: 30px;
}

.card {
  height: 450px;
  border: none;
  background-color: var(--card-background-color);
}

.row {
  /* figure out why I can't use gutter y gap */
  margin-bottom: 25px;
}

.work-card-image {
  object-fit: contain;
  max-width: 75%;
  height: auto;
  margin: auto;

}


.card-img-overlay {
  opacity: 0;
  transition: 0.35s;
}

#placeholder-card:hover > .card-img-overlay {
  display: block;
  background-color: rgb(30, 139, 156, 0.8);
  opacity: 1;
}

/* Modal */
.work-modal-image {
  height: 100%;
  width: 100%;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

.modal-card {
  position: relative;
}

.modal-button {
  position: absolute;
  top: 5%;
  left: 95%;
}

.modal-content {
  margin: 10px 100px;
  background-color: var(--primary-color);
}

.modal-title {
  font-weight: 400;
  padding-bottom: 15px;
}

#modal-close {
  fill: #212529;
}

.modal-body {
  margin: 5px 30px;
}


.project-description {
  font-weight: 5600px;
}

/* navigation menu animation */
nav a {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
}

.go a:before,
.go a:after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.go a:before {
  margin-right: 8px;
  content: "[";
  -webkit-transform: translate(20px);
  -moz-transform: translate(20px);
  transform: translate(20px);
}

.go a:after {
  margin-left: 8px;
  content: "]";
  -webkit-transform: translate(-20px);
  -moz-transform: translate(-20px);
  transform: translate(-20px);
}

.go a:hover:before,
.go a:hover:after,
.go a:focus:before,
.go a:focus:after {
  opacity: 1;
  -webkit-transform: translate(0px);
  -moz-transform: translate(0px);
  transform: translate(0px);
}

/* theme toggle */
* {
  box-sizing: border-box;
}

.label {
  display: flex;
  height: 28px;
  width: 54px;
  border-radius: 50px;
  background-color: var(--secondary-color);
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  position: relative;
}

.fa-moon {
  color: #f6be00;
}

.fa-sun {
  color: orange;
  
}

.ball {
  background-color: white;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
   transition: transform 0.2s linear; 
  -mox-box-shadow: 0 0 3px white;
  -webkit-box-shadow: 0 0 3px white;
  box-shadow: 0 0 2px white;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

#toggle-theme:checked + .label .ball {
  transform: translate(24.5px);
  background-color: var(--primary-color);
} 

#toggle-theme:checked + .label {
  background-color: var(--secondary-color);
}

#toggle-wrapper {
  margin: auto;
}

/* hand wave */
.wave {
  margin-left: 5px;
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

.wave:hover {
  animation-iteration-count: infinite; /* Never stop waving :) */
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/* Screen Responsiveness */
@media (max-width: 1000px) {
  .container {
    margin-top: 140px;
    margin-bottom: 150px;
    padding-right: min(75px, 10%);
    padding-left: min(75px, 10%);
  }

  .mobile-center {
    text-align: center;
  }

  h1 {
    font-size: 2.25rem;
  }

  .modal-button {
    position: absolute;
    top: 5%;
    left: 90%;
  }

  .modal-body {
    margin: 10px 20px;
  }


}

@media (max-width: 700px) {
  .container {
    margin-bottom: 150px;
    padding-right: min(75px, 10%);
    padding-left: min(75px, 10%);
  }

  .card {
    height: 350px;
  }

  .modal-content {
    margin: 0px 50px;
  }
}

@media (max-width: 1300px) {
  .nav-item {
    padding: 0px 9px;
  }
  .container-fluid {
    padding: 0;
}
}
