* {
    font-family: 'Montserrat', sans-serif;
    color: var(--secondary-color);
}

:root {
  --primary-color: white;
  --secondary-color: #212529; 
}

.dark-theme {
  --primary-color: #212529;
  --secondary-color: white; 
}

::selection {
  background: #7ec4cf;
}

body {
  background-color: var(--primary-color);
}

footer {
  padding-bottom: 50px;
}

a:link {
    color: var(--secondary-color);
    background-color: transparent;
    text-decoration: none;
  }

.navbar-toggler {
  border: none;
}

svg {
  width: 1.3rem;
  fill:  white;
  padding-bottom: 4px;
}

header {
    border-bottom: 1.75px solid var(--secondary-color);
    font-weight: 700;
    font-size: 1.1rem;
    background-color: var(--primary-color);
}

#navigation {
  position: sticky;
}

#nav-name {
    font-size: 1.5rem;
}

#nav-name:visited {
  color: var(--secondary-color);
}

#nav-name:hover, #nav-name:active {
  color: #0d6efd;
}

.nav-item {
    padding: 0px 20px;
}

.navbar {
  padding: 10px 10%;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-brand{
    color: var(--secondary-color);
  }

  .navbar-light .navbar-nav .nav-link {
    color: var(--secondary-color);
  }
  .navbar-light .navbar-nav .nav-link:hover, a:hover {
    color: #0d6efd;   
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar-toggler-icon,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;

  }

  .navbar .navbar-collapse .nav-item {
    padding-top: 10px;
    border-bottom: 1px var(--secondary-color);
  }

  .dropdown-divider {
    border-color: var(--secondary-color)
  }
  

iframe {
    width: 50%;    
}

html, body {
    margin: 0;
    height: 100%;
}

h1 {
  font-weight: 600;
}

#introduction {
  max-width: 500px;
  padding-bottom: 50px;
  margin-right: 5%;
}

#main-container{
  justify-content: center;
}

.container {
  margin-top: 150px; 
  margin-bottom: 300px;
}

#profile-picture {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#canada-leaf {
  fill: #D80621;
}

.description {
  margin-top: 20px;
  font-size: 1.25rem;
}

#email {
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 2px;
  font-weight: 600;
}

#email {
  box-shadow: inset 0 0 0 0 var(--secondary-color);
  color: var(--secondary-color) ;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  
}
#email:hover {
  box-shadow: inset 300px 0 0 0 var(--secondary-color);
  color: var(--primary-color);
}

#featured-work {
  font-weight: 600;
  margin-bottom: 30px;
}

.card {
  height: 400px;
}

.row { /* figure out why I can't use gutter y gap */
  margin-bottom: 25px;
}

.work-card-image {
 height:100%; width:100%;
}

.card-img-overlay{
  opacity: 0;
  transition: 0.2s;
}

#placeholder-card:hover > .card-img-overlay{
  display: block;
  background-color: rgb(126, 196, 207, 0.7);
  opacity: 1;
}

/* Modal */
.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

.modal-card {
  position:relative;

}

.modal-button {
  position: absolute;
  top: 5%;
  left: 95%;
}

.modal-content {
  margin: 10px 50px;
  background-color: var(--primary-color);
}

.modal-title {
  font-weight: 600;
}

#modal-close {
  fill: #212529;  
}

@media (max-width: 1000px) {
  .container{
    margin-top: 50px;  
    margin-bottom: 150px;
    padding-right: min(75px, 10%);
   padding-left: min(75px, 10%);
  }

  .mobile-center{
    text-align: center;  
  }

  .card {
    height: 350px;
  }
  

  .modal-button {
    position: absolute;
    top: 5%;
    left: 90%;
  }


  .modal-body {
    margin: 10px 20px;
  } 
}

@media (max-width: 700px) {
  .container{
    margin-top: 50px;  
    margin-bottom: 150px;
    padding-right: min(75px, 10%);
   padding-left: min(75px, 10%);
  }

  .card {
    height: 250px;
  }
  
}


@media (max-width: 1300px) {
  .nav-item {
    padding: 0px 10px;
}
}




nav a {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
}

.go a:before,
.go a:after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.go a:before {
  margin-right: 8px;
  content: '[';
  -webkit-transform: translate(20px);
  -moz-transform: translate(20px);
  transform: translate(20px);
}

.go a:after {
  margin-left: 8px;
  content: ']';
  -webkit-transform: translate(-20px);
  -moz-transform: translate(-20px);
  transform: translate(-20px);
}

.go a:hover:before,
.go a:hover:after,
.go a:focus:before,
.go a:focus:after {
  opacity: 1;
  -webkit-transform: translate(0px);
  -moz-transform: translate(0px);
  transform: translate(0px);
}
