* {
    font-family: 'Montserrat', sans-serif;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

header {
    border-bottom: 1.75px solid black;
    font-weight: 600;
    font-size: 1.1rem;
}

#navigation {
    padding: 10px 20%;
}

#nav-name {
    font-size: 1.5rem;
}
.nav-item {
    padding: 0px 20px;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus{
    color: black;
  }

  .navbar-light .navbar-nav .nav-link {
    color: black;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #0d6efd;   
  }

  .navbar-toggler-icon,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
  }

iframe {
    width: 50%;    
}

html, body {
    margin: 0;
    height: 100%;
}

h1 {
  font-weight: 6  00;
}

.fa-canadian-maple-leaf {
  color: #e82042;
}

#introduction {
  max-width: 500px;
  padding-bottom: 50px;

}

#main-container{
  margin-top: 100px;  

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

#profile-picture {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  margin-left: 5%;
}

.description {
  font-size: 1.25rem;
}

#email {
  text-decoration: underline;

}